#abilities {
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  margin-left: 0.18rem;
}

.cambio {
  background: white;
  -webkit-text-fill-color: #000;
}

html {
  height: 100%;
}

p {
  text-align: justify;
}

body {
  height: 100%;
  background-color: #000;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}

.cover-container {
  max-width: 42em;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}

.cover {
  margin-top: 15rem;
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.welcome {
  height: 60vh;
}


#email {
  margin-left: 1rem;
}

.row {
  margin-bottom: 5rem;
}

.about-me {
  text-align: justify;
}

.music, .photoContainer, #frameA {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

#frameA {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 20vh;
}

#family_photo{
  max-height: 50vh;
}

#photo{
  padding-bottom: 100vh;
  margin-bottom: 100vh;
}